<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RDemo1</servlet-name>
        <servlet-class>RDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDemo2</servlet-name>
        <servlet-class>RDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDemo3</servlet-name>
        <servlet-class>RDemo3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDemo4</servlet-name>
        <servlet-class>RDemo4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDemo5</servlet-name>
        <servlet-class>RDemo5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rdm</servlet-name>
        <servlet-class>Rdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dss</servlet-name>
        <servlet-class>dss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dass</servlet-name>
        <servlet-class>dass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ee</servlet-name>
        <servlet-class>ee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tt</servlet-name>
        <servlet-class>tt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c</servlet-name>
        <servlet-class>c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pifo</servlet-name>
        <servlet-class>pifo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RDemo1</servlet-name>
        <url-pattern>/RDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDemo2</servlet-name>
        <url-pattern>/RDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDemo3</servlet-name>
        <url-pattern>/RDemo3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDemo4</servlet-name>
        <url-pattern>/RDemo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDemo5</servlet-name>
        <url-pattern>/RDemo5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rdm</servlet-name>
        <url-pattern>/Rdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dss</servlet-name>
        <url-pattern>/dss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dass</servlet-name>
        <url-pattern>/dass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ee</servlet-name>
        <url-pattern>/ee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tt</servlet-name>
        <url-pattern>/tt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c</servlet-name>
        <url-pattern>/c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pifo</servlet-name>
        <url-pattern>/pifo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
